body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card{
  /* border: 2px solid rgb(139, 209, 250); */
    /* border:1 px solid black; */
}

.card-div{
  display:flex;
  flex-direction: column;
  justify-content:center;
 
}



.card-quote{
  font-family: serif;
  font-size:26;
}

.message-button{
  justify-content: center;
  align-self: center;
  width:20%;
}